In [19]:
import numpy as np
import random
import pandas as pd

In [4]:
random.seed(0)

In [5]:
random.random()

0.8444218515250481

In [6]:
random.random()

0.7579544029403025

In [7]:
random.random()

0.420571580830845

In [8]:
random.seed(0)

In [9]:
random.random()

0.8444218515250481

In [10]:
# 随机数并不是真正的随机，其实是有规律的，但是由于其中的运算过于复杂，所以可以视为是随机的。
# 产生随机数的过程相当于是一个函数，但是关键在于我们输入一个种子之后，会得到两个东西，一个是这个种子产生的随机数，另外一个是保证能生成下一个随机数的种子！
# 因此如果我们想要同一个随机数，就需要再重新设置种子！
# 设置种子后，其他人也可以得到我们同样的随机数！

In [14]:
np.random.seed(42)

In [15]:
sample1 = np.random.normal(0, 1, 100)

In [16]:
sample1

array([ 0.49671415, -0.1382643 ,  0.64768854,  1.52302986, -0.23415337,
       -0.23413696,  1.57921282,  0.76743473, -0.46947439,  0.54256004,
       -0.46341769, -0.46572975,  0.24196227, -1.91328024, -1.72491783,
       -0.56228753, -1.01283112,  0.31424733, -0.90802408, -1.4123037 ,
        1.46564877, -0.2257763 ,  0.0675282 , -1.42474819, -0.54438272,
        0.11092259, -1.15099358,  0.37569802, -0.60063869, -0.29169375,
       -0.60170661,  1.85227818, -0.01349722, -1.05771093,  0.82254491,
       -1.22084365,  0.2088636 , -1.95967012, -1.32818605,  0.19686124,
        0.73846658,  0.17136828, -0.11564828, -0.3011037 , -1.47852199,
       -0.71984421, -0.46063877,  1.05712223,  0.34361829, -1.76304016,
        0.32408397, -0.38508228, -0.676922  ,  0.61167629,  1.03099952,
        0.93128012, -0.83921752, -0.30921238,  0.33126343,  0.97554513,
       -0.47917424, -0.18565898, -1.10633497, -1.19620662,  0.81252582,
        1.35624003, -0.07201012,  1.0035329 ,  0.36163603, -0.64511975,
        0.36139561,  1.53803657, -0.03582604,  1.56464366, -2.6197451 ,
        0.8219025 ,  0.08704707, -0.29900735,  0.09176078, -1.98756891,
       -0.21967189,  0.35711257,  1.47789404, -0.51827022, -0.8084936 ,
       -0.50175704,  0.91540212,  0.32875111, -0.5297602 ,  0.51326743,
        0.09707755,  0.96864499, -0.70205309, -0.32766215, -0.39210815,
       -1.46351495,  0.29612028,  0.26105527,  0.00511346, -0.23458713])

In [17]:
sample2 = np.random.normal(0, 1, 100)

In [18]:
sample2

array([-1.41537074, -0.42064532, -0.34271452, -0.80227727, -0.16128571,
        0.40405086,  1.8861859 ,  0.17457781,  0.25755039, -0.07444592,
       -1.91877122, -0.02651388,  0.06023021,  2.46324211, -0.19236096,
        0.30154734, -0.03471177, -1.16867804,  1.14282281,  0.75193303,
        0.79103195, -0.90938745,  1.40279431, -1.40185106,  0.58685709,
        2.19045563, -0.99053633, -0.56629773,  0.09965137, -0.50347565,
       -1.55066343,  0.06856297, -1.06230371,  0.47359243, -0.91942423,
        1.54993441, -0.78325329, -0.32206152,  0.81351722, -1.23086432,
        0.22745993,  1.30714275, -1.60748323,  0.18463386,  0.25988279,
        0.78182287, -1.23695071, -1.32045661,  0.52194157,  0.29698467,
        0.25049285,  0.34644821, -0.68002472,  0.2322537 ,  0.29307247,
       -0.71435142,  1.86577451,  0.47383292, -1.1913035 ,  0.65655361,
       -0.97468167,  0.7870846 ,  1.15859558, -0.82068232,  0.96337613,
        0.41278093,  0.82206016,  1.89679298, -0.24538812, -0.75373616,
       -0.88951443, -0.81581028, -0.07710171,  0.34115197,  0.2766908 ,
        0.82718325,  0.01300189,  1.45353408, -0.26465683,  2.72016917,
        0.62566735, -0.85715756, -1.0708925 ,  0.48247242, -0.22346279,
        0.71400049,  0.47323762, -0.07282891, -0.84679372, -1.51484722,
       -0.44651495,  0.85639879,  0.21409374, -1.24573878,  0.17318093,
        0.38531738, -0.88385744,  0.15372511,  0.05820872, -1.1429703 ])

In [27]:
data = pd.DataFrame({'Dataset1': sample1, 'Dataset2': sample2})

In [28]:
data

    Dataset1  Dataset2
0   0.496714 -1.415371
1  -0.138264 -0.420645
2   0.647689 -0.342715
3   1.523030 -0.802277
4  -0.234153 -0.161286
..       ...       ...
95 -1.463515  0.385317
96  0.296120 -0.883857
97  0.261055  0.153725
98  0.005113  0.058209
99 -0.234587 -1.142970

[100 rows x 2 columns]

In [29]:
# 对数据进行t-test

In [31]:
d1bar = data['Dataset1'].mean()

In [33]:
n1 = len(data['Dataset1'])

In [99]:
d1bar

np.float64(-0.10384651739409384)

In [100]:
n1

100

In [51]:
t_s = (d1bar - 0) / (1 / n1**(0.5))

In [69]:
import numpy as np
from scipy.stats import t
 
# 自定义计算t分布的累计分布函数（CDF）的函数
def t_cdf(x, df):
    # 根据t分布的定义计算CDF
    cdf = 0.5 * (1 + np.tan(np.pi * (x - np.sqrt(df) * np.arctan(np.sqrt((df + 1) / df) * np.tan(np.pi * (x + np.sqrt(df) / np.sqrt(df + 1)))) / 2) / np.pi))
    return cdf
 
# 使用scipy.stats内置的t分布函数来验证结果
x_values = np.linspace(-5, 5, 1000)  # 创建一个包含1000个点的线性空间
df = 1.5  # 自由度
cdf_expected = t.cdf(x_values, df)  # 使用scipy计算期望的CDF值
cdf_manual = manual_cdf_t_distribution(x_values, df)  # 使用自定义函数计算手动CDF值
 
# 比较两者的差异
print(np.allclose(cdf_expected, cdf_manual))  # 应该输出True，表示结果接近

False

In [70]:
def t_cdf(x, df):
    # 根据t分布的定义计算CDF
    cdf = 0.5 * (1 + np.tan(np.pi * (x - np.sqrt(df) * np.arctan(np.sqrt((df + 1) / df) * np.tan(np.pi * (x + np.sqrt(df) / np.sqrt(df + 1)))) / 2) / np.pi))
    return cdf

In [75]:
t_cdf(t_s, n1 - 1)

np.float64(0.3143281973728479)

In [71]:
p_value = 2*(t_cdf(t_s, n1 - 1))

In [72]:
p_value

np.float64(0.6286563947456958)

In [61]:
# problem three

In [62]:
u0 = 0
u1 = 0.5
t_s2 = (u1 - u0) / (1 / n1**(0.5))

In [64]:
from scipy.stats import t

In [66]:
t_tric = t.ppf(1 - 0.5 * 0.05, n1 - 1)

In [67]:
t_tric

np.float64(1.9842169515086827)

In [68]:
t_s2

5.0

In [91]:
power = 1 - t_cdf(t_tric - t_s2, n1 - 1)

In [92]:
power

np.float64(0.2569526503293825)

In [109]:
u0 = 0
d1_bar = data['Dataset1'].mean()
n1 = len(data['Dataset1'])
s = 0
for i in data['Dataset1']:
    s = s + (i - d1_bar)**2
sd = (s / n1)**(0.5)
t_stas = (d1_bar - u0) / (1 / n1**(0.5))

In [110]:
t_stas

np.float64(-1.0384651739409383)

In [81]:
t_cdf(t_stas, n1 - 1)

np.float64(0.3143281973728479)

In [88]:
t_s

np.float64(-1.0384651739409383)

In [84]:
cdf = 0.5 * (1 + np.tan(np.pi * (t_stas - np.sqrt(n1 - 1) * np.arctan(np.sqrt((n1 - 1 + 1) / n1 - 1) * np.tan(np.pi * (t_stas + np.sqrt(n1 - 1) / np.sqrt(n1 - 1 + 1)))) / 2) / np.pi))

In [85]:
cdf

np.float64(-0.3488204357365212)

In [89]:
t_cdf(t_stas, n1 - 1)

np.float64(0.3143281973728479)

In [90]:
t_cdf(t_s, n1 -1)

np.float64(0.3143281973728479)

In [93]:
cdf = 0.5 * (1 + np.tan(np.pi * (t_stas - np.sqrt(n1 - 1) * np.arctan(np.sqrt((n1 - 1 + 1) / ) * np.tan(np.pi * (x + np.sqrt(df) / np.sqrt(df + 1)))) / 2) / np.pi))

SyntaxError: invalid syntax (1177528995.py, line 1)

In [94]:
from scipy import stats

In [95]:
t_statistic, p_value = stats.ttest_ind(sample1)

TypeError: ttest_ind() missing 1 required positional argument: 'b'

In [106]:
t_stat, p_value = stats.ttest_1samp(sample1, 0)

In [107]:
p_value

np.float64(0.25560017625303605)

In [108]:
t_stat

np.float64(-1.1434720057588463)

In [104]:
import numpy as np
from scipy import stats
 
# 假设样本数据
sample_data = np.array([1.1, 2.9, 3.5, 4.7, 5.2, 6.0, 7.0, 8.2, 9.5, 10.7])
 
# 假设原假设的均值
population_mean = 10.0
 
# 执行单样本T检验
t_stat, p_value = stats.ttest_1samp(sample_data, population_mean)

In [105]:
t_stat

np.float64(-4.310101343148389)

In [111]:
t_stat, p_value = stats.ttest_1samp(sample1, 0)

In [112]:
t_stat

np.float64(-1.1434720057588463)

In [113]:
ss = 0
for i in sample1:
    ss = ss + (i - d1bar)**2

In [114]:
ss

np.float64(81.65221946938586)

In [117]:
t_stas = (d1_bar - 0) / (ss**(0.5) / n1**(0.5))

In [118]:
t_stas

np.float64(-0.114923260647794)

In [128]:
t_stat = (d1bar - 0) / np.sqrt(ss / n1)

In [129]:
t_stas

np.float64(-0.114923260647794)

In [130]:
t_stat

np.float64(-0.114923260647794)

In [131]:
t_stat, p_value = stats.ttest_1samp(sample1, 0)

In [132]:
t_stat

np.float64(-1.1434720057588463)

In [140]:
t_stat = (d1bar - 0) * n1**(0.5) / (np.sqrt(ss / (n1 - 1)))

In [141]:
t_stat

np.float64(-1.1434720057588463)

In [144]:
p_value = 2 * t.cdf(t_stat, df = n1 - 1)

In [145]:
p_value

np.float64(0.25560017625303605)

In [146]:
a = [1, 2, 3, 4, 5, 6, 7]

In [149]:
a.index(1)

0

In [150]:
a + 1

TypeError: can only concatenate list (not "int") to list

In [174]:
def two_sum(nums, target):
    for i in nums:
        nums_new = list(map(lambda x: x + i, nums))
        print(nums_new)
        for j in nums_new:
            if j == target:
                print(nums.index(i), nums_new.index(j))

In [175]:
two_sum(a, 6)

[2, 3, 4, 5, 6, 7, 8]
0 4
[3, 4, 5, 6, 7, 8, 9]
1 3
[4, 5, 6, 7, 8, 9, 10]
2 2
[5, 6, 7, 8, 9, 10, 11]
3 1
[6, 7, 8, 9, 10, 11, 12]
4 0
[7, 8, 9, 10, 11, 12, 13]
[8, 9, 10, 11, 12, 13, 14]

In [164]:
nums_new = list(map(lambda x: x + a[0], a))

In [165]:
nums_new

[2, 3, 4, 5, 6, 7, 8]

In [203]:
def max_average(nums, k):
    list = []
    sum = 0
    for i in nums:
        id = nums.index(i)
        if (id + k) <= len(nums):
            for j in range(id , id + k):
                sum = sum + nums[j]
            list.append(sum)
            sum = 0
    print(list)
    max_average = max(list) / k
    print(max_average)

In [204]:
max_average([1, 2, 3, 4, 5], 2)

[3, 5, 7, 9]
4.5

In [205]:
def remove_deplicates(nums):
    new_nums = []
    for i in nums:
        if i not in new_nums:
            new_nums.append(i)
    print(len(new_nums))

In [206]:
a = [1, 1, 2, 2, 3, 3, 3, 4, 4, 4, 4, 5, 5, 6, 7, 7, 7, 7]

In [207]:
remove_deplicates(a)

7

In [239]:
def two_sum(nums, target):
    k = 0
    for i in nums:
        nums_new = list(map(lambda x: x + i, nums))
        for j in nums_new:
            if j == target and k < 1:
                print(list[nums.index(i), nums_new.index(j)])
                k = k + 1

In [240]:
a = [1, 2, 3, 4, 5]
two_sum(a, 9)

list[3, 4]

In [241]:
two_sum(a, 9)

list[3, 4]

In [244]:
def max_average(nums, k):
    list = []
    sum = 0
    for i in nums:
        id = nums.index(i)
        if (id + k) <= len(nums):
            for j in range(id , id + k):
                sum = sum + nums[j]
            list.append(sum)
            sum = 0
    max_average = max(list) / k
    return max_average

In [245]:
max_average(a, 3)

4.0

In [246]:
def remove_duplicates(nums):
    new_nums = []
    for i in nums:
        if i not in new_nums:
            new_nums.append(i)
    print(len(new_nums))

In [247]:
a = [1, 1, 2, 2, 3, 3, 3, 4, 4, 4, 4, 5, 5, 6, 7, 7, 7, 7]
remove_duplicates(a)

7

In [320]:
def two_sum(nums, target):
    k = 0
    for i in nums:
        nums_new = list(map(lambda x: x + i, nums))
        for j in nums_new:
            if j == target and k < 1:
                if nums.index(i) == nums_new.index(j):
                    nums_new[nums_new.index(j)] = j + 1
                else:
                    tw1 = nums.index(i)
                    tw2 = nums_new.index(j)
    if tw1 > tw2:
        tw = tw1
        tw1 = tw2
        tw2 = tw
    return [tw1, tw2]

In [321]:
a = [1, 2, 3, 4, 5]
two_sum(a, 9)

[3, 4]

In [322]:
two_sum(a, 6)

[0, 4]

In [323]:
two_sum(a, 2)

UnboundLocalError: cannot access local variable 'tw1' where it is not associated with a value

In [324]:
a  = [0, 2, 2, 3, 5]

In [325]:
two_sum(a, 4)

[1, 2]

In [326]:
import os
 
# 假设你想要遍历当前目录下的所有文件
directory = '.'
 
# 使用列表推导式获取所有文件名
file_names = [file for file in os.listdir(directory) if os.path.isfile(os.path.join(directory, file))]
 
print(file_names)

['Homework2--test.ipynb', 'Untitled1.ipynb', '.DS_Store', 'Untitled.ipynb', 'Homework1--test.ipynb', 'Untitled2.ipynb', 'main.py', 'Homework3.ipynb']

In [329]:
import pandas as pd
df = pd.DataFrame({'City': ['北京', '广州', '深圳', '上海', '大连', '成都', '深圳', '厦门', '北京', '北京', '上海', '珠海'],
                    'Revenue': [10000, 10000, 5000, 5000, 40000, 50000, 8000, 5000, 5000, 5000, 10000, 12000],
                    'Age': [50, 43, 34, 40, 25, 25, 45, 32, 25, 25, 34, np.nan]})
res1 = df['City'].value_counts()  # 按默认参数统计'City'列的频数
res2 = df['Revenue'].value_counts(ascending=True)  # 按升序统计'Revenue'列的频数
res3 = df['Age'].value_counts(normalize=True)  # 按标准化占比统计'Age'列的频数

res1

In [330]:
print(res1)

City
北京    3
深圳    2
上海    2
广州    1
大连    1
成都    1
厦门    1
珠海    1
Name: count, dtype: int64

In [331]:
print(res2)

Revenue
50000    1
40000    1
12000    1
8000     1
10000    3
5000     5
Name: count, dtype: int64

In [332]:
def scrub2int(ob):
  ob_string = str(ob)
  if ob_string.isnumeric():
    return int(ob_string)
  else:
    return np.nan

In [333]:
scrub2int('5')

5

In [334]:
scrub2int(19)

19

In [335]:
scrub2int('g')

nan

In [ ]:
byline
['headline']['main']
author[0]['firtname']


rows = []
author_bag = {}
byline = datum['byline']
main_headline = datum['headline']['main']
for person in byline['person']:
    author_bag.append(person['firstname'])
    author_bag.update({person['first name']: True})
row = {'headline': main_headline}
row.update(author_bag)

author_bag = []
def get

In [336]:
vjk = id things

SyntaxError: invalid syntax (4018562908.py, line 1)

In [341]:
BASE_URL = "https://api.census.gov/data/timeseries/intltrade/imports/enduse"

In [344]:
import requests
import pandas as pd

end_point = 'https://api.census.gov/data/timeseries/intltrade/imports/enduse'

years = range(2018, 2022)
months = range(1, 13)

dfs = []

for month in months:
    if month < 10:
        month_str = f'0{month}'
    else:
        month_str = str(month)
    payload = {
        'get': 'CTY_CODE,CTY_NAME,I_ENDUSE,I_ENDUSE_LDESC,GEN_VAL_MO,CON_VAL_MO',
        'time': f'{year}-{month_str}'}
    resp = requests.get(url = end_point, params = payload)
    assert resp.status_code == 200
    dat = resp.json()
    df = pd.DataFrame(dat[1:], columns = dat[0])
    dfs.append(df)

In [343]:
dfs

[      CTY_CODE                 CTY_NAME I_ENDUSE  \
 0            -  TOTAL FOR ALL COUNTRIES        -
 1         0001                     OPEC        -
 2         0003           EUROPEAN UNION        -
 3         0014    PACIFIC RIM COUNTRIES        -
 4         0017                 CAFTA-DR        -
 ...        ...                      ...      ...
 13851     7880               MADAGASCAR    50040
 13852     7904                  REUNION    50040
 13853     7910             SOUTH AFRICA    50040
 13854     7XXX                   AFRICA    50040
 13855        -  TOTAL FOR ALL COUNTRIES    50040

                                           I_ENDUSE_LDESC    GEN_VAL_MO  \
 0                    TOTAL IMPORTS FOR ALL END-USE CODES  203028883846
 1                    TOTAL IMPORTS FOR ALL END-USE CODES    5811776722
 2                    TOTAL IMPORTS FOR ALL END-USE CODES   32324828722
 3                    TOTAL IMPORTS FOR ALL END-USE CODES   75627219017
 4                    TOTAL IMPORTS FOR ALL END-USE CODES    1745667404
 ...                                                  ...           ...
 13851  OTHER (MOVIES, MISCELLANEOUS IMPORTS, AND SPEC...         32134
 13852  OTHER (MOVIES, MISCELLANEOUS IMPORTS, AND SPEC...          5818
 13853  OTHER (MOVIES, MISCELLANEOUS IMPORTS, AND SPEC...        130702
 13854  OTHER (MOVIES, MISCELLANEOUS IMPORTS, AND SPEC...        692674
 13855  OTHER (MOVIES, MISCELLANEOUS IMPORTS, AND SPEC...     482821293

          CON_VAL_MO     time
 0      201363447994  2018-01
 1        5077058800  2018-01
 2       32147782489  2018-01
 3       74486177148  2018-01
 4        1730840561  2018-01
 ...             ...      ...
 13851         32134  2018-01
 13852          5818  2018-01
 13853        130702  2018-01
 13854        692674  2018-01
 13855     482546164  2018-01

 [13856 rows x 7 columns],
       CTY_CODE                 CTY_NAME I_ENDUSE  \
 0            -  TOTAL FOR ALL COUNTRIES        -
 1         0001                     OPEC        -
 2         0003           EUROPEAN UNION        -
 3         0014    PACIFIC RIM COUNTRIES        -
 4         0017                 CAFTA-DR        -
 ...        ...                      ...      ...
 15214     7910             SOUTH AFRICA    50040
 15215     7920                  NAMIBIA    50040
 15216     7950                 ESWATINI    50040
 15217     7XXX                   AFRICA    50040
 15218        -  TOTAL FOR ALL COUNTRIES    50040

                                           I_ENDUSE_LDESC    GEN_VAL_MO  \
 0                    TOTAL IMPORTS FOR ALL END-USE CODES  186770202889
 1                    TOTAL IMPORTS FOR ALL END-USE CODES    4952539407
 2                    TOTAL IMPORTS FOR ALL END-USE CODES   31985412368
 3                    TOTAL IMPORTS FOR ALL END-USE CODES   66789406346
 4                    TOTAL IMPORTS FOR ALL END-USE CODES    2012705044
 ...                                                  ...           ...
 15214  OTHER (MOVIES, MISCELLANEOUS IMPORTS, AND SPEC...        117492
 15215  OTHER (MOVIES, MISCELLANEOUS IMPORTS, AND SPEC...          3040
 15216  OTHER (MOVIES, MISCELLANEOUS IMPORTS, AND SPEC...          7500
 15217  OTHER (MOVIES, MISCELLANEOUS IMPORTS, AND SPEC...       1626721
 15218  OTHER (MOVIES, MISCELLANEOUS IMPORTS, AND SPEC...     541664881

          CON_VAL_MO     time
 0      188997006603  2018-02
 1        5171124297  2018-02
 2       32265050616  2018-02
 3       67348223309  2018-02
 4        2020946559  2018-02
 ...             ...      ...
 15214        117492  2018-02
 15215          3040  2018-02
 15216          7500  2018-02
 15217       1626721  2018-02
 15218     541702009  2018-02

 [15219 rows x 7 columns],
       CTY_CODE                 CTY_NAME I_ENDUSE  \
 0            -  TOTAL FOR ALL COUNTRIES        -
 1         0001                     OPEC        -
 2         0003           EUROPEAN UNION        -
 3         0014    PACIFIC RIM COUNTRIES        -
 4         0017                 CAFTA-DR        -
 ...        ...                      ...      ...
 16070     7904                  REUNION    50040
 16071     7910             SOUTH AFRICA    50040
 16072     7920                  NAMIBIA    50040
 16073     7950                 ESWATINI    50040
 16074     7XXX                   AFRICA    50040

                                           I_ENDUSE_LDESC    GEN_VAL_MO  \
 0                    TOTAL IMPORTS FOR ALL END-USE CODES  207985485687
 1                    TOTAL IMPORTS FOR ALL END-USE CODES    5415109258
 2                    TOTAL IMPORTS FOR ALL END-USE CODES   36609470692
 3                    TOTAL IMPORTS FOR ALL END-USE CODES   70759257675
 4                    TOTAL IMPORTS FOR ALL END-USE CODES    2217077574
 ...                                                  ...           ...
 16070  OTHER (MOVIES, MISCELLANEOUS IMPORTS, AND SPEC...             0
 16071  OTHER (MOVIES, MISCELLANEOUS IMPORTS, AND SPEC...        236212
 16072  OTHER (MOVIES, MISCELLANEOUS IMPORTS, AND SPEC...             0
 16073  OTHER (MOVIES, MISCELLANEOUS IMPORTS, AND SPEC...             0
 16074  OTHER (MOVIES, MISCELLANEOUS IMPORTS, AND SPEC...       7803873

          CON_VAL_MO     time
 0      209020543141  2018-03
 1        5942955246  2018-03
 2       36124616655  2018-03
 3       71706492387  2018-03
 4        2196314952  2018-03
 ...             ...      ...
 16070             0  2018-03
 16071        236212  2018-03
 16072             0  2018-03
 16073             0  2018-03
 16074       7803873  2018-03

 [16075 rows x 7 columns],
       CTY_CODE                 CTY_NAME I_ENDUSE  \
 0            -  TOTAL FOR ALL COUNTRIES        -
 1         0001                     OPEC        -
 2         0003           EUROPEAN UNION        -
 3         0014    PACIFIC RIM COUNTRIES        -
 4         0017                 CAFTA-DR        -
 ...        ...                      ...      ...
 16700     7910             SOUTH AFRICA    50040
 16701     7920                  NAMIBIA    50040
 16702     7940                   ZAMBIA    50040
 16703     7950                 ESWATINI    50040
 16704     7XXX                   AFRICA    50040

                                           I_ENDUSE_LDESC    GEN_VAL_MO  \
 0                    TOTAL IMPORTS FOR ALL END-USE CODES  205084378104
 1                    TOTAL IMPORTS FOR ALL END-USE CODES    7045084082
 2                    TOTAL IMPORTS FOR ALL END-USE CODES   36502677367
 3                    TOTAL IMPORTS FOR ALL END-USE CODES   70226360066
 4                    TOTAL IMPORTS FOR ALL END-USE CODES    2074670137
 ...                                                  ...           ...
 16700  OTHER (MOVIES, MISCELLANEOUS IMPORTS, AND SPEC...        157992
 16701  OTHER (MOVIES, MISCELLANEOUS IMPORTS, AND SPEC...             0
 16702  OTHER (MOVIES, MISCELLANEOUS IMPORTS, AND SPEC...         13750
 16703  OTHER (MOVIES, MISCELLANEOUS IMPORTS, AND SPEC...             0
 16704  OTHER (MOVIES, MISCELLANEOUS IMPORTS, AND SPEC...       1494361

          CON_VAL_MO     time
 0      203815782180  2018-04
 1        6227310572  2018-04
 2       35932307022  2018-04
 3       70070953020  2018-04
 4        2073472062  2018-04
 ...             ...      ...
 16700        157992  2018-04
 16701             0  2018-04
 16702         13750  2018-04
 16703             0  2018-04
 16704       1494361  2018-04

 [16705 rows x 7 columns],
       CTY_CODE                 CTY_NAME I_ENDUSE  \
 0            -  TOTAL FOR ALL COUNTRIES        -
 1         0001                     OPEC        -
 2         0003           EUROPEAN UNION        -
 3         0014    PACIFIC RIM COUNTRIES        -
 4         0017                 CAFTA-DR        -
 ...        ...                      ...      ...
 17258     7920                  NAMIBIA    50040
 17259     7940                   ZAMBIA    50040
 17260     7950                 ESWATINI    50040
 17261     7XXX                   AFRICA    50040
 17262        -  TOTAL FOR ALL COUNTRIES    50040

                                           I_ENDUSE_LDESC    GEN_VAL_MO  \
 0                    TOTAL IMPORTS FOR ALL END-USE CODES  216026513962
 1                    TOTAL IMPORTS FOR ALL END-USE CODES    5790960434
 2                    TOTAL IMPORTS FOR ALL END-USE CODES   35909486037
 3                    TOTAL IMPORTS FOR ALL END-USE CODES   76732841778
 4                    TOTAL IMPORTS FOR ALL END-USE CODES    2350494864
 ...                                                  ...           ...
 17258  OTHER (MOVIES, MISCELLANEOUS IMPORTS, AND SPEC...             0
 17259  OTHER (MOVIES, MISCELLANEOUS IMPORTS, AND SPEC...             0
 17260  OTHER (MOVIES, MISCELLANEOUS IMPORTS, AND SPEC...             0
 17261  OTHER (MOVIES, MISCELLANEOUS IMPORTS, AND SPEC...       1945665
 17262  OTHER (MOVIES, MISCELLANEOUS IMPORTS, AND SPEC...     486752339

          CON_VAL_MO     time
 0      218836897427  2018-05
 1        6644936805  2018-05
 2       36462281830  2018-05
 3       77698363641  2018-05
 4        2349993294  2018-05
 ...             ...      ...
 17258             0  2018-05
 17259             0  2018-05
 17260             0  2018-05
 17261       1945665  2018-05
 17262     486865816  2018-05

 [17263 rows x 7 columns],
       CTY_CODE                 CTY_NAME I_ENDUSE  \
 0            -  TOTAL FOR ALL COUNTRIES        -
 1         0001                     OPEC        -
 2         0003           EUROPEAN UNION        -
 3         0014    PACIFIC RIM COUNTRIES        -
 4         0017                 CAFTA-DR        -
 ...        ...                      ...      ...
 17674     7920                  NAMIBIA    50040
 17675     7940                   ZAMBIA    50040
 17676     7950                 ESWATINI    50040
 17677     7XXX                   AFRICA    50040
 17678        -  TOTAL FOR ALL COUNTRIES    50040

                                           I_ENDUSE_LDESC    GEN_VAL_MO  \
 0                    TOTAL IMPORTS FOR ALL END-USE CODES  211252662445
 1                    TOTAL IMPORTS FOR ALL END-USE CODES    6232758235
 2                    TOTAL IMPORTS FOR ALL END-USE CODES   35399960650
 3                    TOTAL IMPORTS FOR ALL END-USE CODES   75808974230
 4                    TOTAL IMPORTS FOR ALL END-USE CODES    2062412807
 ...                                                  ...           ...
 17674  OTHER (MOVIES, MISCELLANEOUS IMPORTS, AND SPEC...             0
 17675  OTHER (MOVIES, MISCELLANEOUS IMPORTS, AND SPEC...             0
 17676  OTHER (MOVIES, MISCELLANEOUS IMPORTS, AND SPEC...             0
 17677  OTHER (MOVIES, MISCELLANEOUS IMPORTS, AND SPEC...        363593
 17678  OTHER (MOVIES, MISCELLANEOUS IMPORTS, AND SPEC...     598676762

          CON_VAL_MO     time
 0      211217992231  2018-06
 1        6294177124  2018-06
 2       35521357226  2018-06
 3       76056729316  2018-06
 4        2079669832  2018-06
 ...             ...      ...
 17674             0  2018-06
 17675             0  2018-06
 17676             0  2018-06
 17677        363593  2018-06
 17678     598732207  2018-06

 [17679 rows x 7 columns],
       CTY_CODE                 CTY_NAME I_ENDUSE  \
 0            -  TOTAL FOR ALL COUNTRIES        -
 1         0001                     OPEC        -
 2         0003           EUROPEAN UNION        -
 3         0014    PACIFIC RIM COUNTRIES        -
 4         0017                 CAFTA-DR        -
 ...        ...                      ...      ...
 18100     7920                  NAMIBIA    50040
 18101     7940                   ZAMBIA    50040
 18102     7950                 ESWATINI    50040
 18103     7XXX                   AFRICA    50040
 18104        -  TOTAL FOR ALL COUNTRIES    50040

                                           I_ENDUSE_LDESC    GEN_VAL_MO  \
 0                    TOTAL IMPORTS FOR ALL END-USE CODES  216854224361
 1                    TOTAL IMPORTS FOR ALL END-USE CODES    6708988892
 2                    TOTAL IMPORTS FOR ALL END-USE CODES   36853432953
 3                    TOTAL IMPORTS FOR ALL END-USE CODES   79455510650
 4                    TOTAL IMPORTS FOR ALL END-USE CODES    2203095226
 ...                                                  ...           ...
 18100  OTHER (MOVIES, MISCELLANEOUS IMPORTS, AND SPEC...             0
 18101  OTHER (MOVIES, MISCELLANEOUS IMPORTS, AND SPEC...             0
 18102  OTHER (MOVIES, MISCELLANEOUS IMPORTS, AND SPEC...             0
 18103  OTHER (MOVIES, MISCELLANEOUS IMPORTS, AND SPEC...       1100384
 18104  OTHER (MOVIES, MISCELLANEOUS IMPORTS, AND SPEC...     485190498

          CON_VAL_MO     time
 0      217695894192  2018-07
 1        6383529246  2018-07
 2       36759325256  2018-07
 3       80386017525  2018-07
 4        2183465211  2018-07
 ...             ...      ...
 18100             0  2018-07
 18101             0  2018-07
 18102             0  2018-07
 18103       1100384  2018-07
 18104     483952736  2018-07

 [18105 rows x 7 columns],
       CTY_CODE                 CTY_NAME I_ENDUSE  \
 0            -  TOTAL FOR ALL COUNTRIES        -
 1         0001                     OPEC        -
 2         0003           EUROPEAN UNION        -
 3         0014    PACIFIC RIM COUNTRIES        -
 4         0017                 CAFTA-DR        -
 ...        ...                      ...      ...
 18441     7920                  NAMIBIA    50040
 18442     7940                   ZAMBIA    50040
 18443     7950                 ESWATINI    50040
 18444     7XXX                   AFRICA    50040
 18445        -  TOTAL FOR ALL COUNTRIES    50040

                                           I_ENDUSE_LDESC    GEN_VAL_MO  \
 0                    TOTAL IMPORTS FOR ALL END-USE CODES  221896965105
 1                    TOTAL IMPORTS FOR ALL END-USE CODES    5910027476
 2                    TOTAL IMPORTS FOR ALL END-USE CODES   36185246986
 3                    TOTAL IMPORTS FOR ALL END-USE CODES   80673351613
 4                    TOTAL IMPORTS FOR ALL END-USE CODES    2247377037
 ...                                                  ...           ...
 18441  OTHER (MOVIES, MISCELLANEOUS IMPORTS, AND SPEC...             0
 18442  OTHER (MOVIES, MISCELLANEOUS IMPORTS, AND SPEC...             0
 18443  OTHER (MOVIES, MISCELLANEOUS IMPORTS, AND SPEC...             0
 18444  OTHER (MOVIES, MISCELLANEOUS IMPORTS, AND SPEC...        284135
 18445  OTHER (MOVIES, MISCELLANEOUS IMPORTS, AND SPEC...     559063581

          CON_VAL_MO     time
 0      224841152896  2018-08
 1        6849971117  2018-08
 2       36559491097  2018-08
 3       81815549627  2018-08
 4        2308499443  2018-08
 ...             ...      ...
 18441             0  2018-08
 18442             0  2018-08
 18443             0  2018-08
 18444        284135  2018-08
 18445     556838059  2018-08

 [18446 rows x 7 columns],
       CTY_CODE                 CTY_NAME I_ENDUSE  \
 0            -  TOTAL FOR ALL COUNTRIES        -
 1         0001                     OPEC        -
 2         0003           EUROPEAN UNION        -
 3         0014    PACIFIC RIM COUNTRIES        -
 4         0017                 CAFTA-DR        -
 ...        ...                      ...      ...
 18723     7910             SOUTH AFRICA    50040
 18724     7920                  NAMIBIA    50040
 18725     7940                   ZAMBIA    50040
 18726     7950                 ESWATINI    50040
 18727     7XXX                   AFRICA    50040

                                           I_ENDUSE_LDESC    GEN_VAL_MO  \
 0                    TOTAL IMPORTS FOR ALL END-USE CODES  211317474139
 1                    TOTAL IMPORTS FOR ALL END-USE CODES    6212836226
 2                    TOTAL IMPORTS FOR ALL END-USE CODES   32674294974
 3                    TOTAL IMPORTS FOR ALL END-USE CODES   80429409477
 4                    TOTAL IMPORTS FOR ALL END-USE CODES    2015125789
 ...                                                  ...           ...
 18723  OTHER (MOVIES, MISCELLANEOUS IMPORTS, AND SPEC...         62888
 18724  OTHER (MOVIES, MISCELLANEOUS IMPORTS, AND SPEC...             0
 18725  OTHER (MOVIES, MISCELLANEOUS IMPORTS, AND SPEC...             0
 18726  OTHER (MOVIES, MISCELLANEOUS IMPORTS, AND SPEC...             0
 18727  OTHER (MOVIES, MISCELLANEOUS IMPORTS, AND SPEC...       1294905

          CON_VAL_MO     time
 0      212002479908  2018-09
 1        5934807435  2018-09
 2       32327998880  2018-09
 3       81746994642  2018-09
 4        2006902775  2018-09
 ...             ...      ...
 18723         62888  2018-09
 18724             0  2018-09
 18725             0  2018-09
 18726             0  2018-09
 18727       1294905  2018-09

 [18728 rows x 7 columns],
       CTY_CODE                 CTY_NAME I_ENDUSE  \
 0            -  TOTAL FOR ALL COUNTRIES        -
 1         0001                     OPEC        -
 2         0003           EUROPEAN UNION        -
 3         0014    PACIFIC RIM COUNTRIES        -
 4         0017                 CAFTA-DR        -
 ...        ...                      ...      ...
 19014     7910             SOUTH AFRICA    50040
 19015     7920                  NAMIBIA    50040
 19016     7940                   ZAMBIA    50040
 19017     7950                 ESWATINI    50040
 19018     7XXX                   AFRICA    50040

                                           I_ENDUSE_LDESC    GEN_VAL_MO  \
 0                    TOTAL IMPORTS FOR ALL END-USE CODES  235857712175
 1                    TOTAL IMPORTS FOR ALL END-USE CODES    6925565478
 2                    TOTAL IMPORTS FOR ALL END-USE CODES   39415552348
 3                    TOTAL IMPORTS FOR ALL END-USE CODES   86805067291
 4                    TOTAL IMPORTS FOR ALL END-USE CODES    2206226093
 ...                                                  ...           ...
 19014  OTHER (MOVIES, MISCELLANEOUS IMPORTS, AND SPEC...         66161
 19015  OTHER (MOVIES, MISCELLANEOUS IMPORTS, AND SPEC...             0
 19016  OTHER (MOVIES, MISCELLANEOUS IMPORTS, AND SPEC...             0
 19017  OTHER (MOVIES, MISCELLANEOUS IMPORTS, AND SPEC...             0
 19018  OTHER (MOVIES, MISCELLANEOUS IMPORTS, AND SPEC...       2052146

          CON_VAL_MO     time
 0      236557510025  2018-10
 1        6393328972  2018-10
 2       39076695372  2018-10
 3       87576368585  2018-10
 4        2206940603  2018-10
 ...             ...      ...
 19014         66161  2018-10
 19015             0  2018-10
 19016             0  2018-10
 19017             0  2018-10
 19018       2052146  2018-10

 [19019 rows x 7 columns],
       CTY_CODE                 CTY_NAME I_ENDUSE  \
 0            -  TOTAL FOR ALL COUNTRIES        -
 1         0001                     OPEC        -
 2         0003           EUROPEAN UNION        -
 3         0014    PACIFIC RIM COUNTRIES        -
 4         0017                 CAFTA-DR        -
 ...        ...                      ...      ...
 19269     7910             SOUTH AFRICA    50040
 19270     7920                  NAMIBIA    50040
 19271     7940                   ZAMBIA    50040
 19272     7950                 ESWATINI    50040
 19273     7XXX                   AFRICA    50040

                                           I_ENDUSE_LDESC    GEN_VAL_MO  \
 0                    TOTAL IMPORTS FOR ALL END-USE CODES  213493034014
 1                    TOTAL IMPORTS FOR ALL END-USE CODES    5844339264
 2                    TOTAL IMPORTS FOR ALL END-USE CODES   36603621132
 3                    TOTAL IMPORTS FOR ALL END-USE CODES   79162393826
 4                    TOTAL IMPORTS FOR ALL END-USE CODES    1949160981
 ...                                                  ...           ...
 19269  OTHER (MOVIES, MISCELLANEOUS IMPORTS, AND SPEC...        248449
 19270  OTHER (MOVIES, MISCELLANEOUS IMPORTS, AND SPEC...             0
 19271  OTHER (MOVIES, MISCELLANEOUS IMPORTS, AND SPEC...             0
 19272  OTHER (MOVIES, MISCELLANEOUS IMPORTS, AND SPEC...             0