In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
long_df = pd.DataFrame([
  {'patient_id': 1, 'variable': 'height', 'value': 178, 'units': 'cm'},
  {'patient_id': 2, 'variable': 'height', 'value': 166, 'units': 'cm'},
  {'patient_id': 1, 'variable': 'weight', 'value': 80, 'units': 'kg'},
  {'patient_id': 1, 'variable': 'age', 'value': 40, 'units': 'year'},
  {'patient_id': 2, 'variable': 'age', 'value': 30, 'units': 'year'},
])

In [5]:
long_df

   patient_id variable  value units
0           1   height    178    cm
1           2   height    166    cm
2           1   weight     80    kg
3           1      age     40  year
4           2      age     30  year

In [7]:
long_df['var_w_unit'] = long_df.apply(lambda x: x['variable'] + '_' + x['units'], axis = 1)

In [8]:
long_df

   patient_id variable  value units var_w_unit
0           1   height    178    cm  height_cm
1           2   height    166    cm  height_cm
2           1   weight     80    kg  weight_kg
3           1      age     40  year   age_year
4           2      age     30  year   age_year

In [9]:
# pivot方法，主要用于实现数据的分类汇总
wide_df = pd.pivot(long_df, index = 'patient_id', columns = 'var_w_unit', values = 'value')

In [10]:
wide_df
# 在pivot中，columns参数代表的是要生成的宽表中的列名：例如：在这个例子中，columns为var_w_unit，代表着原长表格中'var_w_unit'下的所有值，转化为宽表中的变量
# 同时values指的是宽表中的新变量的值是多少

var_w_unit  age_year  height_cm  weight_kg
patient_id
1               40.0      178.0       80.0
2               30.0      166.0        NaN

In [12]:
wide_df = pd.pivot(long_df, index = 'patient_id', columns = 'var_w_unit', values = 'value').reset_index()

In [13]:
wide_df

var_w_unit  patient_id  age_year  height_cm  weight_kg
0                    1      40.0      178.0       80.0
1                    2      30.0      166.0        NaN

In [14]:
# 将宽数据转换为长数据表格

In [24]:
id_vars = ['patient_id']

In [21]:
# 首先提取出除id以外的所有列
non_id_col = [col for col in wide_df.columns
             if col not in id_vars]

In [22]:
non_id_col

['age_year', 'height_cm', 'weight_kg']

In [40]:
long_df2 = pd.melt(wide_df,
                  id_vars = id_vars,
                  value_vars = non_id_col)

In [41]:
long_df2

   patient_id var_w_unit  value
0           1   age_year   40.0
1           2   age_year   30.0
2           1  height_cm  178.0
3           2  height_cm  166.0
4           1  weight_kg   80.0
5           2  weight_kg    NaN

In [42]:
long_df2['variable'] = long_df2['var_w_unit'].apply(lambda x: x.split('_')[0])

In [43]:
long_df2['unit'] = long_df2['var_w_unit'].apply(lambda x: x.split('_')[1])

In [44]:
long_df2

   patient_id var_w_unit  value variable  unit
0           1   age_year   40.0      age  year
1           2   age_year   30.0      age  year
2           1  height_cm  178.0   height    cm
3           2  height_cm  166.0   height    cm
4           1  weight_kg   80.0   weight    kg
5           2  weight_kg    NaN   weight    kg

In [36]:
long_df2.drop(columns='var_w_unit', inplace=True)

In [39]:
long_df2

   patient_id  value variable  unit
0           1   40.0      age  year
1           2   30.0      age  year
2           1  178.0   height    cm
3           2  166.0   height    cm
4           1   80.0   weight    kg
5           2    NaN   weight    kg

In [45]:
long_df2.drop(columns='var_w_unit')

   patient_id  value variable  unit
0           1   40.0      age  year
1           2   30.0      age  year
2           1  178.0   height    cm
3           2  166.0   height    cm
4           1   80.0   weight    kg
5           2    NaN   weight    kg

In [47]:
long_df2.shape

(6, 5)

In [67]:
long_df2.iloc[1]['value']

np.float64(30.0)

In [94]:
for i in range(long_df2.shape[0]):
    if long_df2.loc[i]['value']*0 != 0:
        long_df3 = long_df2.drop(i)

In [95]:
long_df2

   patient_id var_w_unit  value variable  unit
0           1   age_year   40.0      age  year
1           2   age_year   30.0      age  year
2           1  height_cm  178.0   height    cm
3           2  height_cm  166.0   height    cm
4           1  weight_kg   80.0   weight    kg
5           2  weight_kg    NaN   weight    kg

In [96]:
np.nan == False

False

In [97]:
long_df2.iloc[5]['value']

np.float64(nan)

In [98]:
long_df3

   patient_id var_w_unit  value variable  unit
0           1   age_year   40.0      age  year
1           2   age_year   30.0      age  year
2           1  height_cm  178.0   height    cm
3           2  height_cm  166.0   height    cm
4           1  weight_kg   80.0   weight    kg

In [99]:
long_df2.iloc[5]['value']*0 == 0

np.False_

In [100]:
long_df2.iloc[4]['value']*0 == 0

np.True_

In [101]:
long_df2.iloc[3]['value']*0 == 0

np.True_

In [104]:
# 在网络上最常见的分层数据集：是json格式。

In [105]:
import json

In [107]:
with open ('nytimes_metadata_example.json', 'r') as f:
    dat = json.load(f)

In [109]:
#dat

In [110]:
type(dat)

list

In [112]:
len(dat)

10

In [144]:
#dat

In [114]:
dat[0]

{'abstract': 'President Trump will give Canada, Mexico and the European Union another 30-day reprieve from steel and aluminum tariffs, delaying punishing levies on key allies.',
 'web_url': 'https://www.nytimes.com/2018/04/30/us/politics/white-house-delays-tariffs-eu-canada-mexico.html',
 'snippet': 'President Trump will give Canada, Mexico and the European Union another 30-day reprieve from steel and aluminum tariffs, delaying punishing levies on key allies.',
 'lead_paragraph': 'WASHINGTON — The Trump administration said on Monday that it would delay a decision to impose steel and aluminum tariffs on the European Union, Canada and Mexico for another 30 days, giving key allies a reprieve as the White House tries to extract concessions from trading partners who have resisted those demands.',
 'print_section': 'A',
 'print_page': '1',
 'source': 'The New York Times',
 'multimedia': [{'rank': 0,
   'subtype': 'xlarge',
   'caption': None,
   'credit': None,
   'type': 'image',
   'url': 'images/2018/05/01/business/01dc-tariffs-print/merlin_135176676_e5f4ef0b-2553-4fde-b27c-d582610f362b-articleLarge.jpg',
   'height': 400,
   'width': 600,
   'subType': 'xlarge',
   'crop_name': 'articleLarge',
   'legacy': {'xlarge': 'images/2018/05/01/business/01dc-tariffs-print/merlin_135176676_e5f4ef0b-2553-4fde-b27c-d582610f362b-articleLarge.jpg',
    'xlargewidth': 600,
    'xlargeheight': 400}},
  {'rank': 0,
   'subtype': 'jumbo',
   'caption': None,
   'credit': None,
   'type': 'image',
   'url': 'images/2018/05/01/business/01dc-tariffs-print/merlin_135176676_e5f4ef0b-2553-4fde-b27c-d582610f362b-jumbo.jpg',
   'height': 683,
   'width': 1024,
   'subType': 'jumbo',
   'crop_name': 'jumbo',
   'legacy': {}},
  {'rank': 0,
   'subtype': 'superJumbo',
   'caption': None,
   'credit': None,
   'type': 'image',
   'url': 'images/2018/05/01/business/01dc-tariffs-print/merlin_135176676_e5f4ef0b-2553-4fde-b27c-d582610f362b-superJumbo.jpg',
   'height': 1365,
   'width': 2048,
   'subType': 'superJumbo',
   'crop_name': 'superJumbo',
   'legacy': {}},
  {'rank': 0,
   'subtype': 'thumbnail',
   'caption': None,
   'credit': None,
   'type': 'image',
   'url': 'images/2018/05/01/business/01dc-tariffs-print/01dc-tariffs-print-thumbStandard-v2.jpg',
   'height': 75,
   'width': 75,
   'subType': 'thumbnail',
   'crop_name': 'thumbStandard',
   'legacy': {'thumbnail': 'images/2018/05/01/business/01dc-tariffs-print/01dc-tariffs-print-thumbStandard-v2.jpg',
    'thumbnailwidth': 75,
    'thumbnailheight': 75}},
  {'rank': 0,
   'subtype': 'thumbLarge',
   'caption': None,
   'credit': None,
   'type': 'image',
   'url': 'images/2018/05/01/business/01dc-tariffs-print/01dc-tariffs-print-thumbLarge-v2.jpg',
   'height': 150,
   'width': 150,
   'subType': 'thumbLarge',
   'crop_name': 'thumbLarge',
   'legacy': {}}],
 'headline': {'main': 'White House Delays Tariffs on E.U., Canada and Mexico for 30 Days',
  'kicker': None,
  'content_kicker': None,
  'print_headline': 'U.S. Delaying Start of Tariffs For Key Allies',
  'name': None,
  'seo': None,
  'sub': None},
 'keywords': [{'name': 'subject',
   'value': 'United States Politics and Government',
   'rank': 1,
   'major': 'N'},
  {'name': 'subject', 'value': 'Customs (Tariff)', 'rank': 2, 'major': 'N'},
  {'name': 'subject',
   'value': 'International Trade and World Market',
   'rank': 3,
   'major': 'N'},
  {'name': 'organizations',
   'value': 'European Union',
   'rank': 4,
   'major': 'N'},
  {'name': 'glocations', 'value': 'Canada', 'rank': 5, 'major': 'N'},
  {'name': 'glocations', 'value': 'Mexico', 'rank': 6, 'major': 'N'},
  {'name': 'persons', 'value': 'Trump, Donald J', 'rank': 7, 'major': 'N'},
  {'name': 'subject', 'value': 'Aluminum', 'rank': 8, 'major': 'N'},
  {'name': 'subject', 'value': 'Steel and Iron', 'rank': 9, 'major': 'N'}],
 'pub_date': '2018-05-01T00:02:05+0000',
 'document_type': 'article',
 'news_desk': 'Business',
 'section_name': 'U.S.',
 'subsection_name': 'Politics',
 'byline': {'original': 'By Ana Swanson',
  'person': [{'firstname': 'Ana',
    'middlename': None,
    'lastname': 'Swanson',
    'qualifier': None,
    'title': None,
    'role': 'reported',
    'organization': '',
    'rank': 1}],
  'organization': None},
 'type_of_material': 'News',
 '_id': 'nyt://article/fe30ca90-44ba-5c62-a809-87ef554899eb',
 'word_count': 1289,
 'uri': 'nyt://article/fe30ca90-44ba-5c62-a809-87ef554899eb'}

In [115]:
article = dat[0]

In [116]:
type(article)

dict

In [117]:
len(article)

20

In [118]:
print(article.keys())

dict_keys(['abstract', 'web_url', 'snippet', 'lead_paragraph', 'print_section', 'print_page', 'source', 'multimedia', 'headline', 'keywords', 'pub_date', 'document_type', 'news_desk', 'section_name', 'subsection_name', 'byline', 'type_of_material', '_id', 'word_count', 'uri'])

In [119]:
type(article['abstract'])

str

In [120]:
print(article['web_url'])
print(article['section_name'])
print(article['pub_date'])
print(article['headline'])
print(article['byline'])

https://www.nytimes.com/2018/04/30/us/politics/white-house-delays-tariffs-eu-canada-mexico.html
U.S.
2018-05-01T00:02:05+0000
{'main': 'White House Delays Tariffs on E.U., Canada and Mexico for 30 Days', 'kicker': None, 'content_kicker': None, 'print_headline': 'U.S. Delaying Start of Tariffs For Key Allies', 'name': None, 'seo': None, 'sub': None}
{'original': 'By Ana Swanson', 'person': [{'firstname': 'Ana', 'middlename': None, 'lastname': 'Swanson', 'qualifier': None, 'title': None, 'role': 'reported', 'organization': '', 'rank': 1}], 'organization': None}

In [121]:
print(article['byline'])

{'original': 'By Ana Swanson', 'person': [{'firstname': 'Ana', 'middlename': None, 'lastname': 'Swanson', 'qualifier': None, 'title': None, 'role': 'reported', 'organization': '', 'rank': 1}], 'organization': None}

In [122]:
type(article['byline'])

dict

In [129]:
type(article['headline'])

dict

In [130]:
article['headline']

{'main': 'White House Delays Tariffs on E.U., Canada and Mexico for 30 Days',
 'kicker': None,
 'content_kicker': None,
 'print_headline': 'U.S. Delaying Start of Tariffs For Key Allies',
 'name': None,
 'seo': None,
 'sub': None}

In [123]:
easy_keys = ['web_url', 'section_name', 'pub_date']

In [125]:
records = {k: k for k in easy_keys}

In [126]:
records

{'web_url': 'web_url', 'section_name': 'section_name', 'pub_date': 'pub_date'}

In [134]:
records.update({'main_headline' : article['headline']['main']})

In [135]:
records

{'web_url': 'web_url',
 'section_name': 'section_name',
 'pub_date': 'pub_date',
 'main_headline': 'White House Delays Tariffs on E.U., Canada and Mexico for 30 Days'}

In [136]:
name_vars = ['firstname', 'middlename', 'lastname']

In [143]:
person = article['byline']['person'][0]

In [145]:
person

{'firstname': 'Ana',
 'middlename': None,
 'lastname': 'Swanson',
 'qualifier': None,
 'title': None,
 'role': 'reported',
 'organization': '',
 'rank': 1}

In [148]:
records.update({key: person[key] if person[key] else ''
              for key in name_vars})

In [149]:
records

{'web_url': 'web_url',
 'section_name': 'section_name',
 'pub_date': 'pub_date',
 'main_headline': 'White House Delays Tariffs on E.U., Canada and Mexico for 30 Days',
 'firstname': 'Ana',
 'middlename': '',
 'lastname': 'Swanson'}

In [140]:
article['byline']['person']

[{'firstname': 'Ana',
  'middlename': None,
  'lastname': 'Swanson',
  'qualifier': None,
  'title': None,
  'role': 'reported',
  'organization': '',
  'rank': 1}]

In [154]:
record_per_author = []
for person in article['byline']['person']:
    record_copy = records.copy()
    record_copy.update({key: person[key] if person[key] else ''
                       for key in name_vars})
    record_per_author.append(record_copy)

In [151]:
records

{'web_url': 'web_url',
 'section_name': 'section_name',
 'pub_date': 'pub_date',
 'main_headline': 'White House Delays Tariffs on E.U., Canada and Mexico for 30 Days',
 'firstname': 'Ana',
 'middlename': '',
 'lastname': 'Swanson'}

In [155]:
record_per_author

[{'web_url': 'web_url',
  'section_name': 'section_name',
  'pub_date': 'pub_date',
  'main_headline': 'White House Delays Tariffs on E.U., Canada and Mexico for 30 Days',
  'firstname': 'Ana',
  'middlename': '',
  'lastname': 'Swanson'}]

In [163]:
recordss = []
for article in dat:
    record_per_author = []
    easy_keys = ['web_url', 'section_name', 'pub_date']
    record = {k: k for k in easy_keys}
    record.update({'main_headline' : article['headline']['main']})
    name_vars = ['firstname', 'middlename', 'lastname']
    for person in article['byline']['person']:
        record.update({key: person[key] if person[key] else ''
                      for key in name_vars})
        record_per_author.append(record)
    recordss.extend(record_per_author)

In [164]:
recordss

[{'web_url': 'web_url',
  'section_name': 'section_name',
  'pub_date': 'pub_date',
  'main_headline': 'White House Delays Tariffs on E.U., Canada and Mexico for 30 Days',
  'firstname': 'Ana',
  'middlename': '',
  'lastname': 'Swanson'},
 {'web_url': 'web_url',
  'section_name': 'section_name',
  'pub_date': 'pub_date',
  'main_headline': 'White House Considers Restricting Chinese Researchers Over Espionage Fears',
  'firstname': 'Keith',
  'middlename': '',
  'lastname': 'Bradsher'},
 {'web_url': 'web_url',
  'section_name': 'section_name',
  'pub_date': 'pub_date',
  'main_headline': 'White House Considers Restricting Chinese Researchers Over Espionage Fears',
  'firstname': 'Keith',
  'middlename': '',
  'lastname': 'Bradsher'},
 {'web_url': 'web_url',
  'section_name': 'section_name',
  'pub_date': 'pub_date',
  'main_headline': 'Reports of Sexual Assault in the Military Rise by 10 Percent, Pentagon Finds',
  'firstname': 'Thomas',
  'middlename': '',
  'lastname': 'Gibbons-Neff'},
 {'web_url': 'web_url',
  'section_name': 'section_name',
  'pub_date': 'pub_date',
  'main_headline': 'Was Sheldon Silver Corrupt, or Was It Just Politics as Usual?',
  'firstname': 'Nate',
  'middlename': '',
  'lastname': 'Schweber'},
 {'web_url': 'web_url',
  'section_name': 'section_name',
  'pub_date': 'pub_date',
  'main_headline': 'Was Sheldon Silver Corrupt, or Was It Just Politics as Usual?',
  'firstname': 'Nate',
  'middlename': '',
  'lastname': 'Schweber'},
 {'web_url': 'web_url',
  'section_name': 'section_name',
  'pub_date': 'pub_date',
  'main_headline': 'Gig Economy Business Model Dealt a Blow in California Ruling',
  'firstname': 'Noam',
  'middlename': '',
  'lastname': 'Scheiber'},
 {'web_url': 'web_url',
  'section_name': 'section_name',
  'pub_date': 'pub_date',
  'main_headline': 'Sex, Sport, and Why Track and Field’s New Rules on Intersex Athletes Are Essential',
  'firstname': 'Doriane',
  'middlename': 'Lambelet',
  'lastname': 'Coleman'},
 {'web_url': 'web_url',
  'section_name': 'section_name',
  'pub_date': 'pub_date',
  'main_headline': 'Cardinal George Pell to Stand Trial on Historical Sex Offenses',
  'firstname': 'Adam',
  'middlename': '',
  'lastname': 'Baidawi'},
 {'web_url': 'web_url',
  'section_name': 'section_name',
  'pub_date': 'pub_date',
  'main_headline': 'Why the Cardinal Pell Case Has Been So Secretive',
  'firstname': 'Adam',
  'middlename': '',
  'lastname': 'Baidawi'},
 {'web_url': 'web_url',
  'section_name': 'section_name',
  'pub_date': 'pub_date',
  'main_headline': 'Why the Cardinal Pell Case Has Been So Secretive',
  'firstname': 'Adam',
  'middlename': '',
  'lastname': 'Baidawi'},
 {'web_url': 'web_url',
  'section_name': 'section_name',
  'pub_date': 'pub_date',
  'main_headline': 'The Questions Mueller Wants to Ask Trump About Obstruction, and What They Mean',
  'firstname': 'Michael',
  'middlename': 'S.',
  'lastname': 'Schmidt'},
 {'web_url': 'web_url',
  'section_name': 'section_name',
  'pub_date': 'pub_date',
  'main_headline': 'The Questions Mueller Wants to Ask Trump About Obstruction, and What They Mean',
  'firstname': 'Michael',
  'middlename': 'S.',
  'lastname': 'Schmidt'},
 {'web_url': 'web_url',
  'section_name': 'section_name',
  'pub_date': 'pub_date',
  'main_headline': 'Mueller Has Dozens of Inquiries for Trump in Broad Quest on Russia Ties and Obstruction',
  'firstname': 'Michael',
  'middlename': 'S.',
  'lastname': 'Schmidt'}]

In [165]:
pd.DataFrame(recordss)

,web_url,section_name,pub_date,main_headline,firstname,middlename,lastname
0,web_url,section_name,pub_date,"White House Delays Tariffs on E.U., Canada and...",Ana,,Swanson
1,web_url,section_name,pub_date,White House Considers Restricting Chinese Rese...,Keith,,Bradsher
2,web_url,section_name,pub_date,White House Considers Restricting Chinese Rese...,Keith,,Bradsher
3,web_url,section_name,pub_date,Reports of Sexual Assault in the Military Rise...,Thomas,,Gibbons-Neff
4,web_url,section_name,pub_date,"Was Sheldon Silver Corrupt, or Was It Just Pol...",Nate,,Schweber
5,web_url,section_name,pub_date,"Was Sheldon Silver Corrupt, or Was It Just Pol...",Nate,,Schweber
6,web_url,section_name,pub_date,Gig Economy Business Model Dealt a Blow in Cal...,Noam,,Scheiber
7,web_url,section_name,pub_date,"Sex, Sport, and Why Track and Field’s New Rule...",Doriane,Lambelet,Coleman
8,web_url,section_name,pub_date,Cardinal George Pell to Stand Trial on Histori...,Adam,,Baidawi
9,web_url,section_name,pub_date,Why the Cardinal Pell Case Has Been So Secretive,Adam,,Baidawi
10,web_url,section_name,pub_date,Why the Cardinal Pell Case Has Been So Secretive,Adam,,Baidawi
11,web_url,section_name,pub_date,The Questions Mueller Wants to Ask Trump About...,Michael,S.,Schmidt
12,web_url,section_name,pub_date,The Questions Mueller Wants to Ask Trump About...,Michael,S.,Schmidt
13,web_url,section_name,pub_date,Mueller Has Dozens of Inquiries for Trump in B...,Michael,S.,Schmidt

In [166]:
recordss = []
for article in dat:
    record_per_author = []
    easy_keys = ['web_url', 'section_name', 'pub_date']
    record = {k: k for k in easy_keys}
    record.update({'main_headline' : article['headline']['main']})
    name_vars = ['firstname', 'middlename', 'lastname']
    for person in article['byline']['person']:
        record.update({key: person[key] if person[key] else ''
                      for key in name_vars})
        record_per_author.append(record)
    recordss.append(record_per_author)

In [167]:
recordss

[[{'web_url': 'web_url',
   'section_name': 'section_name',
   'pub_date': 'pub_date',
   'main_headline': 'White House Delays Tariffs on E.U., Canada and Mexico for 30 Days',
   'firstname': 'Ana',
   'middlename': '',
   'lastname': 'Swanson'}],
 [{'web_url': 'web_url',
   'section_name': 'section_name',
   'pub_date': 'pub_date',
   'main_headline': 'White House Considers Restricting Chinese Researchers Over Espionage Fears',
   'firstname': 'Keith',
   'middlename': '',
   'lastname': 'Bradsher'},
  {'web_url': 'web_url',
   'section_name': 'section_name',
   'pub_date': 'pub_date',
   'main_headline': 'White House Considers Restricting Chinese Researchers Over Espionage Fears',
   'firstname': 'Keith',
   'middlename': '',
   'lastname': 'Bradsher'}],
 [{'web_url': 'web_url',
   'section_name': 'section_name',
   'pub_date': 'pub_date',
   'main_headline': 'Reports of Sexual Assault in the Military Rise by 10 Percent, Pentagon Finds',
   'firstname': 'Thomas',
   'middlename': '',
   'lastname': 'Gibbons-Neff'}],
 [{'web_url': 'web_url',
   'section_name': 'section_name',
   'pub_date': 'pub_date',
   'main_headline': 'Was Sheldon Silver Corrupt, or Was It Just Politics as Usual?',
   'firstname': 'Nate',
   'middlename': '',
   'lastname': 'Schweber'},
  {'web_url': 'web_url',
   'section_name': 'section_name',
   'pub_date': 'pub_date',
   'main_headline': 'Was Sheldon Silver Corrupt, or Was It Just Politics as Usual?',
   'firstname': 'Nate',
   'middlename': '',
   'lastname': 'Schweber'}],
 [{'web_url': 'web_url',
   'section_name': 'section_name',
   'pub_date': 'pub_date',
   'main_headline': 'Gig Economy Business Model Dealt a Blow in California Ruling',
   'firstname': 'Noam',
   'middlename': '',
   'lastname': 'Scheiber'}],
 [{'web_url': 'web_url',
   'section_name': 'section_name',
   'pub_date': 'pub_date',
   'main_headline': 'Sex, Sport, and Why Track and Field’s New Rules on Intersex Athletes Are Essential',
   'firstname': 'Doriane',
   'middlename': 'Lambelet',
   'lastname': 'Coleman'}],
 [{'web_url': 'web_url',
   'section_name': 'section_name',
   'pub_date': 'pub_date',
   'main_headline': 'Cardinal George Pell to Stand Trial on Historical Sex Offenses',
   'firstname': 'Adam',
   'middlename': '',
   'lastname': 'Baidawi'}],
 [{'web_url': 'web_url',
   'section_name': 'section_name',
   'pub_date': 'pub_date',
   'main_headline': 'Why the Cardinal Pell Case Has Been So Secretive',
   'firstname': 'Adam',
   'middlename': '',
   'lastname': 'Baidawi'},
  {'web_url': 'web_url',
   'section_name': 'section_name',
   'pub_date': 'pub_date',
   'main_headline': 'Why the Cardinal Pell Case Has Been So Secretive',
   'firstname': 'Adam',
   'middlename': '',
   'lastname': 'Baidawi'}],
 [{'web_url': 'web_url',
   'section_name': 'section_name',
   'pub_date': 'pub_date',
   'main_headline': 'The Questions Mueller Wants to Ask Trump About Obstruction, and What They Mean',
   'firstname': 'Michael',
   'middlename': 'S.',
   'lastname': 'Schmidt'},
  {'web_url': 'web_url',
   'section_name': 'section_name',
   'pub_date': 'pub_date',
   'main_headline': 'The Questions Mueller Wants to Ask Trump About Obstruction, and What They Mean',
   'firstname': 'Michael',
   'middlename': 'S.',
   'lastname': 'Schmidt'}],
 [{'web_url': 'web_url',
   'section_name': 'section_name',
   'pub_date': 'pub_date',
   'main_headline': 'Mueller Has Dozens of Inquiries for Trump in Broad Quest on Russia Ties and Obstruction',
   'firstname': 'Michael',
   'middlename': 'S.',
   'lastname': 'Schmidt'}]]

In [168]:
pd.DataFrame(recordss)

,0,1
0,"{'web_url': 'web_url', 'section_name': 'sectio...",None
1,"{'web_url': 'web_url', 'section_name': 'sectio...","{'web_url': 'web_url', 'section_name': 'sectio..."
2,"{'web_url': 'web_url', 'section_name': 'sectio...",None
3,"{'web_url': 'web_url', 'section_name': 'sectio...","{'web_url': 'web_url', 'section_name': 'sectio..."
4,"{'web_url': 'web_url', 'section_name': 'sectio...",None
5,"{'web_url': 'web_url', 'section_name': 'sectio...",None
6,"{'web_url': 'web_url', 'section_name': 'sectio...",None
7,"{'web_url': 'web_url', 'section_name': 'sectio...","{'web_url': 'web_url', 'section_name': 'sectio..."
8,"{'web_url': 'web_url', 'section_name': 'sectio...","{'web_url': 'web_url', 'section_name': 'sectio..."
9,"{'web_url': 'web_url', 'section_name': 'sectio...",None

In [182]:
a = []
b = [{'name': 'lxt', 'sex': 'male'}]

In [183]:
a.append(b)

In [184]:
a

[[{'name': 'lxt', 'sex': 'male'}]]

In [195]:
a = []

In [196]:
a.extend(b)

In [197]:
a

[{'name': 'lxt', 'sex': 'male'}]

In [198]:
pd.DataFrame(a)

  name   sex
0  lxt  male

In [199]:
pd.DataFrame(b)

  name   sex
0  lxt  male