In [1]:
import re

In [2]:
demo = 'wtl_2109@COLUMBIA.EDU'

In [3]:
re.sub("(EDU|EDUCATION)", "?", demo)

'wtl_2109@COLUMBIA.?'

In [4]:
re.sub("(t|0|1)", "?", demo)

'w?l_2??9@COLUMBIA.EDU'

In [2]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("rajeevw/ufcdata")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/rajeevw/ufcdata?dataset_version_number=2...

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3.70M/3.70M [00:00<00:00, 7.66MB/s]

Extracting files...

Path to dataset files: /Users/apple/.cache/kagglehub/datasets/rajeevw/ufcdata/versions/2

In [4]:
import pandas as pd
dat = pd.read_csv('/Users/apple/.cache/kagglehub/datasets/rajeevw/ufcdata/versions/2/raw_fighter_details.csv')

In [6]:
dat.head()

,fighter_name,Height,Weight,Reach,Stance,DOB,SLpM,Str_Acc,SApM,Str_Def,TD_Avg,TD_Acc,TD_Def,Sub_Avg
0,Tom Aaron,NaN,155 lbs.,NaN,NaN,"Jul 13, 1978",0.00,0%,0.00,0%,0.00,0%,0%,0.0
1,Papy Abedi,"5' 11""",185 lbs.,NaN,Southpaw,"Jun 30, 1978",2.80,55%,3.15,48%,3.47,57%,50%,1.3
2,Shamil Abdurakhimov,"6' 3""",235 lbs.,"76""",Orthodox,"Sep 02, 1981",2.45,44%,2.45,58%,1.23,24%,47%,0.2
3,Danny Abbadi,"5' 11""",155 lbs.,NaN,Orthodox,"Jul 03, 1983",3.29,38%,4.41,57%,0.00,0%,77%,0.0
4,Hiroyuki Abe,"5' 6""",145 lbs.,NaN,Orthodox,NaN,1.71,36%,3.11,63%,0.00,0%,33%,0.0

In [7]:
dat.DOB.head()

0    Jul 13, 1978
1    Jun 30, 1978
2    Sep 02, 1981
3    Jul 03, 1983
4             NaN
Name: DOB, dtype: object

In [20]:
def get_month(string):
    if len(string) != 12:
        return string
    return string[: 3]

In [22]:
months = dat.DOB.apply(lambda x: get_month(str(x)))

In [23]:
months

0       Jul
1       Jun
2       Sep
3       Jul
4       nan
       ...
3591    Jul
3592    nan
3593    nan
3594    Apr
3595    Jun
Name: DOB, Length: 3596, dtype: object

In [26]:
months.value_counts()
# when we need to count the number of all kinds of data in a column, we can use the .value_counts() method.

DOB
nan    739
Aug    296
Jul    284
May    249
Oct    249
Sep    240
Mar    237
Jun    232
Apr    223
Feb    219
Nov    218
Dec    210
Jan    200
Name: count, dtype: int64

In [28]:
# more complcated situcation: natural language and natural text
# The general syntax for the pattern is to specify:
# 1. The type of the character.
# 2. Immediatedly followed by the frequency for the character.

In [30]:
import re
# the module re is the package we need to use to replace the specified pattern with a specified output.

In [52]:
demo = 'rawr rawrr rawrrr!'

In [37]:
# here we use the '_' to replace the 'r'
re.sub('r', '_', demo)

'_aw_ _aw__ _aw___!'

In [38]:
# we use '_' to replace 'rr'
re.sub('r{2}', '_', demo)

'rawr raw_ raw_r!'

In [39]:
re.sub('r{2}', 'k', demo)

'rawr rawk rawkr!'

In [46]:
re.sub('r{2,4}', '_', demo)

'rawr raw_ raw_!'

In [47]:
re.sub('r{1,3}', '_', demo)

'_aw_ _aw_ _aw_!'

In [49]:
# replace all the space and r to '_'
re.sub('r?', '_', demo)

'__a_w__ __a_w___ __a_w____!_'

In [50]:
# one or more times
re.sub('r+', '_', demo)

'_aw_ _aw_ _aw_!'

In [53]:
# zero or more time ocurrance
# zero mean that '_' will take place when there even no space, between any two characters.
re.sub('r*', '_', demo)

'__a_w__ __a_w__ __a_w__!_'

In [54]:
demo = 'wtl_2109@COLUMBIA.EDU'

In [58]:
# replace EDU or EDUCATION with '?'
re.sub('EDU|EDUCATION', '?', demo)

'wtl_2109@COLUMBIA.?'

In [59]:
re.sub('EDU', '?', demo)

'wtl_2109@COLUMBIA.?'

In [60]:
re.sub('EDUCATION', '?', demo)

'wtl_2109@COLUMBIA.EDU'

In [62]:
# transfer t or 0 or 1 to '?'
re.sub('[t01]', '?', demo)

'w?l_2??9@COLUMBIA.EDU'

In [63]:
re.sub('[91]', '?', demo)

'wtl_2?0?@COLUMBIA.EDU'

In [65]:
# the '\d' meand that all numbers! it equals to the [0-9]
re.sub("\d", "?", demo)

'wtl_????@COLUMBIA.EDU'

In [66]:
re.sub('[0-9]', '?', demo)

'wtl_????@COLUMBIA.EDU'

In [67]:
re.sub('[A-Z]', '?', demo)

'wtl_2109@????????.???'

In [70]:
# '\w' means that all letters and numbers can be replaced by '?'. alphanumeric means letters and numbers
re.sub('\w','?', demo)

'????????@????????.???'

In [72]:
re.sub('[0-9A-Za-z]', '?', demo)

'???_????@????????.???'

In [73]:
re.sub('[0-9A-Za-z_]', '?', demo)

'????????@????????.???'

In [74]:
# . means any character!!!
re.sub('.', '?', demo)

'?????????????????????'

In [76]:
# the ^ means not: [^a-z] means not lower cases letter
re.sub('[^a-z]', '?', demo)

'wtl??????????????????'

In [77]:
import re

demo = "Experience with Google Analytics and Google Optimize\nKnowledge of project management tools (JIRA, Trello, Asana)\n"
# means replace any character which is not letters with space' '
re.sub("[^a-zA-Z]+", " ", demo).split(" ")

['Experience',
 'with',
 'Google',
 'Analytics',
 'and',
 'Google',
 'Optimize',
 'Knowledge',
 'of',
 'project',
 'management',
 'tools',
 'JIRA',
 'Trello',
 'Asana',
 '']

In [78]:
re.sub("[^a-zA-Z]", " ", demo).split(" ")

['Experience',
 'with',
 'Google',
 'Analytics',
 'and',
 'Google',
 'Optimize',
 'Knowledge',
 'of',
 'project',
 'management',
 'tools',
 '',
 'JIRA',
 '',
 'Trello',
 '',
 'Asana',
 '',
 '']

In [79]:
# .count() method, can be used to count the frequenct of the target aim.
demo = "rawr, rawrr, rwarrr"
re.sub("r{2}", "_", demo, count=1)

'rawr, raw_, rwarrr'

In [81]:
# for the website name, we know that the 'www' and the 'com' are the module.
demo = ["www.google.com", "www.r-project.org", "www.linkedin.com", "xkcd.com"]
proper_demo = ['https://' + s for s in demo]

In [82]:
proper_demo

['https://www.google.com',
 'https://www.r-project.org',
 'https://www.linkedin.com',
 'https://xkcd.com']

In [88]:
demo = ["www.google.com", "www.r-project.org", "www.linkedin.com", "xkcd.com"]
proper_demo = ['https://' + s for s in demo]

In [89]:
proper_demo

['https://www.google.com',
 'https://www.r-project.org',
 'https://www.linkedin.com',
 'https://xkcd.com']

In [83]:
pattern = "https://(www\.)?[^\.]+\.(com|org)"
[re.sub(pattern, "caught ya!", s) for s in proper_demo]

['caught ya!', 'caught ya!', 'caught ya!', 'caught ya!']

In [84]:
demo_1 = '.dsf.afasdf.asfas.f'

In [86]:
re.sub('\.', '?', demo_1)

'?dsf?afasdf?asfas?f'

In [92]:
pattern = 'https://(www\.)?([^\.]+)\.(com|org)'

In [93]:
[re.sub(pattern, "\\1 AND \\2 AND \\3", s) for s in proper_demo]

['www. AND google AND com',
 'www. AND r-project AND org',
 'www. AND linkedin AND com',
 ' AND xkcd AND com']

In [91]:
pattern = "https://(www\.)?([^\.]+)\.(com|org)"
[re.sub(pattern, "\\1 AND \\2 AND \\3", s) for s in proper_demo]

['www. AND google AND com',
 'www. AND r-project AND org',
 'www. AND linkedin AND com',
 ' AND xkcd AND com']

In [94]:
[re.sub(pattern, "\\2", s) for s in proper_demo]

['google', 'r-project', 'linkedin', 'xkcd']

In [95]:
[re.sub(pattern, "\\1SOMETHING.\\3", s) for s in proper_demo]

['www.SOMETHING.com',
 'www.SOMETHING.org',
 'www.SOMETHING.com',
 'SOMETHING.com']