In [2]:
import requests
import pandas as pd

In [6]:
base_url = 'https://api.census.gov/data/timeseries/intltrade/imports/enduse'

In [5]:
end_point = 'https://api.census.gov/data/timeseries/intltrade/imports/enduse'

years = range(2018, 2022)
months = range(1, 13)

In [7]:
params = {'get': 'CTY_CODE,CTY_NAME,I_ENDUSE,I_ENDUSE_LDESC,GEN_VAL_MO,CON_VAL_MO',
         'time': '2013-01'}
resp = requests.get(url = base_url, params = params)

In [10]:
resp.status_code  == 200

True

In [11]:
data = resp.json()

In [14]:
df = pd.DataFrame(data[1:], columns = data[0])

In [15]:
df.head()

,CTY_CODE,CTY_NAME,I_ENDUSE,I_ENDUSE_LDESC,GEN_VAL_MO,CON_VAL_MO,time
0,4050,FINLAND,-,TOTAL IMPORTS FOR ALL END-USE CODES,319554327,335786013,2013-01
1,4635,KYRGYZSTAN,-,TOTAL IMPORTS FOR ALL END-USE CODES,17592,17592,2013-01
2,4641,MOLDOVA,-,TOTAL IMPORTS FOR ALL END-USE CODES,3766608,3640049,2013-01
3,4642,TAJIKISTAN,-,TOTAL IMPORTS FOR ALL END-USE CODES,10311,10311,2013-01
4,4643,TURKMENISTAN,-,TOTAL IMPORTS FOR ALL END-USE CODES,710820,710820,2013-01

In [16]:
dfs = []
for year in years:
    for month in months:
        month = month if month >= 10 else '0' + str(month)
        params = {'get': 'CTY_CODE,CTY_NAME,I_ENDUSE,I_ENDUSE_LDESC,GEN_VAL_MO,CON_VAL_MO',
                 'time': '{}-{}'.format(year, month)}
        resp = requests.get(url = base_url, params = params)
        dat = resp.json()
        df = pd.DataFrame(dat[1:], columns = data[0])
        dfs.append(df)

In [20]:
bdf = pd.concat(dfs)

In [23]:
bdf.head()

,CTY_CODE,CTY_NAME,I_ENDUSE,I_ENDUSE_LDESC,GEN_VAL_MO,CON_VAL_MO,time
0,-,TOTAL FOR ALL COUNTRIES,-,TOTAL IMPORTS FOR ALL END-USE CODES,203028883846,201363447994,2018-01
1,0001,OPEC,-,TOTAL IMPORTS FOR ALL END-USE CODES,5811776722,5077058800,2018-01
2,0003,EUROPEAN UNION,-,TOTAL IMPORTS FOR ALL END-USE CODES,32324828722,32147782489,2018-01
3,0014,PACIFIC RIM COUNTRIES,-,TOTAL IMPORTS FOR ALL END-USE CODES,75627219017,74486177148,2018-01
4,0017,CAFTA-DR,-,TOTAL IMPORTS FOR ALL END-USE CODES,1745667404,1730840561,2018-01

In [21]:
bdf.tail()

,CTY_CODE,CTY_NAME,I_ENDUSE,I_ENDUSE_LDESC,GEN_VAL_MO,CON_VAL_MO,time
19444,7830,TANZANIA,50040,"OTHER (MOVIES, MISCELLANEOUS IMPORTS, AND SPEC...",0,0,2021-12
19445,7850,MAURITIUS,50040,"OTHER (MOVIES, MISCELLANEOUS IMPORTS, AND SPEC...",3163141,3163141,2021-12
19446,7880,MADAGASCAR,50040,"OTHER (MOVIES, MISCELLANEOUS IMPORTS, AND SPEC...",98077,98077,2021-12
19447,7910,SOUTH AFRICA,50040,"OTHER (MOVIES, MISCELLANEOUS IMPORTS, AND SPEC...",375341,375341,2021-12
19448,7XXX,AFRICA,50040,"OTHER (MOVIES, MISCELLANEOUS IMPORTS, AND SPEC...",3964187,3964187,2021-12

In [36]:
bdf.shape

(828717, 7)

In [19]:
# Task 3 - Analyze the Dependence
#Please quantify a major dependence we have on Russia or Ukrain using the data we've collected.

In [24]:
# gen_val_mo means that General Imports, Total Value 总共进口量
# Imports for Consumption, Total Value

In [39]:
bdf_grp = bdf.groupby('I_ENDUSE_LDESC')

In [33]:
len(bdf_grp)

149

In [34]:
num = 0
for gp in bdf_grp:
    if num == 0:
        print(gp)
        num += 1

('AGRICULTURAL MACHINERY, EQUIPMENT',       CTY_CODE                 CTY_NAME I_ENDUSE  \
7817         -  TOTAL FOR ALL COUNTRIES    21200
7818      0001                     OPEC    21200
7819      0003           EUROPEAN UNION    21200
7820      0014    PACIFIC RIM COUNTRIES    21200
7821      0017                 CAFTA-DR    21200
...        ...                      ...      ...
10782     7550                    GABON    21200
10783     7690                   RWANDA    21200
10784     7790                    KENYA    21200
10785     7910             SOUTH AFRICA    21200
10786     7XXX                   AFRICA    21200

                          I_ENDUSE_LDESC GEN_VAL_MO CON_VAL_MO     time
7817   AGRICULTURAL MACHINERY, EQUIPMENT  888798136  865117553  2018-01
7818   AGRICULTURAL MACHINERY, EQUIPMENT     341248     341248  2018-01
7819   AGRICULTURAL MACHINERY, EQUIPMENT  285254372  286504659  2018-01
7820   AGRICULTURAL MACHINERY, EQUIPMENT  300840737  276880670  2018-01
7821   AGRICULTURAL MACHINERY, EQUIPMENT    2253620    2253620  2018-01
...                                  ...        ...        ...      ...
10782  AGRICULTURAL MACHINERY, EQUIPMENT          0          0  2021-12
10783  AGRICULTURAL MACHINERY, EQUIPMENT          0          0  2021-12
10784  AGRICULTURAL MACHINERY, EQUIPMENT          0          0  2021-12
10785  AGRICULTURAL MACHINERY, EQUIPMENT      11773      11773  2021-12
10786  AGRICULTURAL MACHINERY, EQUIPMENT      94838      94838  2021-12

[5322 rows x 7 columns])

In [45]:
bdf_grp = bdf.groupby('I_ENDUSE_LDESC')
prop_russia = {}
for gp in bdf_grp.groups:
    sdf = bdf_grp.get_group(gp)
    is_russia = sdf.CTY_NAME == 'RUSSIA'
    russia_part = sdf.loc[is_russia, 'GEN_VAL_MO'].astype(float).sum()
    prop_russia.update({gp: russia_part / sdf.GEN_VAL_MO.astype(float).sum()})

In [46]:
prop_russia

{'AGRICULTURAL MACHINERY, EQUIPMENT': np.float64(3.388073447270714e-05),
 'ALCOHOLIC BEVERAGES, EXCLUDING WINE': np.float64(0.0003006778228228835),
 'APPAREL, HOUSEHOLD GOODS - COTTON': np.float64(7.782437535001634e-06),
 'APPAREL, HOUSEHOLD GOODS - WOOL': np.float64(8.910344523757516e-06),
 'APPAREL, TEXTILES, NONWOOL OR COTTON': np.float64(1.1336670271047408e-05),
 'APPAREL,HOUSEHOLD GOODS-NONTEXTILE': np.float64(7.301927371055773e-06),
 'ARTWORK, ANTIQUES, STAMPS, ETC.': np.float64(0.0011665493879877869),
 'AUTOMOTIVE TIRES AND TUBES': np.float64(0.0007062779056552828),
 'AUTOMOTIVE VEHICLES, PARTS, AND ENGINES': np.float64(2.87798605986591e-05),
 'BAKERY PRODUCTS': np.float64(0.00010852221788493086),
 'BAUXITE AND ALUMINUM': np.float64(0.006508719289903639),
 'BLANK TAPES, AUDIO & VISUAL': np.float64(0.0),
 'BODIES AND CHASSIS FOR PASSENGER CARS': np.float64(5.582597412676474e-06),
 'BODIES AND CHASSIS FOR TRUCKS AND BUSES': np.float64(1.151602392732711e-07),
 'BOOKS, PRINTED MATTER': np.float64(0.00013761495943001952),
 'BUSINESS MACHINES AND EQUIPMENT': np.float64(6.960129745912149e-06),
 'CAMPING APPAREL AND GEAR': np.float64(7.60443865673431e-06),
 'CANE AND BEET SUGAR': np.float64(3.7055887260419414e-06),
 'CAPITAL GOODS, EXCEPT AUTOMOTIVE': np.float64(0.000164012794486051),
 'CELL PHONES AND OTHER HOUSEHOLD GOODS, N.E.C.': np.float64(7.324967688451997e-06),
 'CHEMICALS-FERTILIZERS': np.float64(0.014274802365936937),
 'CHEMICALS-INORGANIC': np.float64(0.0017333684216656777),
 'CHEMICALS-ORGANIC': np.float64(0.0003558492906207312),
 'CHEMICALS-OTHER, N.E.C.': np.float64(0.00032627970251967005),
 'CIVILIAN AIRCRAFT': np.float64(0.00020643339380109062),
 'COAL AND RELATED FUELS': np.float64(0.0019533201736215452),
 'COCOA BEANS': np.float64(0.0),
 'COMMERCIAL VESSELS, OTHER': np.float64(7.051922302143892e-05),
 'COMPUTER ACCESSORIES': np.float64(3.631692763782048e-06),
 'COMPUTERS': np.float64(7.827695074597008e-07),
 'CONSUMER GOODS': np.float64(0.00012262640329663494),
 'COOKWARE, CUTLERY, TOOLS': np.float64(1.863622473742445e-05),
 'COPPER': np.float64(0.00016489205504151375),
 'COTTON CLOTH, FABRICS': np.float64(3.3585089815403058e-06),
 'COTTON, NATURAL FIBERS': np.float64(6.381066232376803e-07),
 'CRUDE OIL': np.float64(0.00394729226720242),
 'DAIRY PRODUCTS AND EGGS': np.float64(6.250369149398696e-05),
 'DRILLING & OILFIELD EQUIPMENT': np.float64(0.00544590924846543),
 'ELECTRIC APPARATUS': np.float64(5.992617611216627e-05),
 'ELECTRIC ENERGY': np.float64(0.0),
 'ENGINES AND ENGINE PARTS': np.float64(4.098832309279184e-05),
 'ENGINES-CIVILIAN AIRCRAFT': np.float64(0.00012981576049232377),
 'EXCAVATING MACHINERY': np.float64(3.315249698463018e-05),
 'FARMING MATERIALS, LIVESTOCK': np.float64(9.461415811947027e-05),
 'FEEDSTUFF AND FOODGRAINS': np.float64(0.0007463434828245656),
 'FINISHED METAL SHAPES': np.float64(0.0016339938828728061),
 'FINISHED TEXTILE SUPPLIES': np.float64(2.9289356012225176e-05),
 'FISH AND SHELLFISH': np.float64(0.006603077140240155),
 'FOOD OILS, OILSEEDS': np.float64(0.00044256098472323654),
 'FOOD, TOBACCO MACHINERY': np.float64(4.118249843807714e-05),
 'FOODS, FEEDS, AND BEVERAGES': np.float64(0.0009551013891125707),
 'FOOTWEAR': np.float64(2.5190063564683964e-05),
 'FRUITS, FROZEN JUICES': np.float64(6.991987367298662e-06),
 'FUEL OIL': np.float64(0.06283441815179538),
 'FURNITURE, HOUSEHOLD GOODS, ETC.': np.float64(8.780976753413759e-05),
 'GAS-NATURAL': np.float64(0.0002654142453723221),
 'GEM DIAMONDS': np.float64(0.003798981392803513),
 'GEM STONES, OTHER': np.float64(0.000332931955991901),
 'GENERATORS, ACCESSORIES': np.float64(0.00023558808855161475),
 'GLASS-PLATE, SHEET, ETC.': np.float64(2.0096287034070407e-05),
 'GLASSWARE, CHINAWARE': np.float64(4.2893183750991085e-05),
 'GREEN COFFEE': np.float64(0.0),
 'HAIR, WASTE MATERIALS': np.float64(3.2785234098773866e-05),
 'HIDES AND SKINS': np.float64(0.0004513862972666635),
 'HOUSEHOLD APPLIANCES': np.float64(1.5778856776337584e-05),
 'INDUSTRIAL ENGINES': np.float64(7.89754524772634e-05),
 'INDUSTRIAL MACHINES, OTHER': np.float64(0.0001147003997789176),
 'INDUSTRIAL SUPPLIES AND MATERIALS': np.float64(0.006147114852901978),
 'INDUSTRIAL SUPPLIES, OTHER': np.float64(4.690539267318915e-05),
 'IRON AND STEEL MILL PRODUCTS': np.float64(0.006095023724497794),
 'IRON AND STEEL PRODUCTS, N.E.C.': np.float64(0.00038759292901947325),
 'IRON AND STEEL, ADVANCED': np.float64(4.159585065528209e-05),
 'JEWELRY': np.float64(4.489414549168414e-05),
 'LABORATORY TESTING INSTRUMENTS': np.float64(0.00041277483625032547),
 'LEATHER AND FURS': np.float64(1.147112385270637e-06),
 'LIQUEFIED PETROLEUM GASES': np.float64(0.0),
 'LUMBER': np.float64(0.0004873756393147786),
 'MARINE ENGINES, PARTS': np.float64(1.1314107820355285e-05),
 'MATERIALS HANDLING EQUIPMENT': np.float64(4.275948195036439e-05),
 'MATERIALS, EXCLUDING CHEMICALS': np.float64(0.00016263646896714254),
 'MEASURING, TESTING, CONTROL INSTRUMENTS': np.float64(4.879513778147949e-05),
 'MEAT PRODUCTS': np.float64(0.0),
 'MEDICINAL EQUIPMENT': np.float64(4.946615379446126e-05),
 'METALWORKING MACHINE TOOLS': np.float64(5.0741473274133155e-05),
 'MILITARY AIRCRAFT AND PARTS': np.float64(0.0001491992984073296),
 'MINIMUM VALUE SHIPMENTS': np.float64(0.00012273915138953127),
 'MOTORCYCLES AND PARTS': np.float64(0.00020125031982501127),
 'MUSICAL INSTRUMENTS': np.float64(1.4360589791416777e-05),
 'NATURAL RUBBER': np.float64(9.91830128111173e-06),
 'NEWSPRINT': np.float64(2.9947613373559355e-05),
 'NICKEL': np.float64(0.012329920398410089),
 'NONAGRICULTURAL FOODS, ETC.': np.float64(4.451279121179166e-05),
 'NONFARM TRACTORS AND PARTS': np.float64(1.4351933964354113e-05),
 'NONFERROUS METALS, OTHER': np.float64(0.008794684452346978),
 'NONMONETARY GOLD': np.float64(0.0005047646952748992),
 'NONTEXTILE FLOOR TILES': np.float64(0.00010310046058717196),
 'NUCLEAR FUEL MATERIALS': np.float64(0.03781444973585453),
 'NUMISMATIC COINS': np.float64(0.0003314297138493545),
 'NURSERY STOCK, ETC.': np.float64(1.2260876339657235e-07),
 'NUTS': np.float64(0.0006376218893107963),
 'OTHER (MOVIES, MISCELLANEOUS IMPORTS, AND SPECIAL TRANSACTIONS)': np.float64(0.0007964385139725142),
 'OTHER CONSUMER NONDURABLES': np.float64(3.586311895013349e-05),
 'OTHER FOODS': np.float64(0.0001228914587768327),
 'OTHER GOODS': np.float64(0.0004093583087315335),
 'OTHER MILITARY EQUIPMENT': np.float64(0.010129866422402928),
 'OTHER PARTS AND ACCESSORIES OF VEHICLES': np.float64(8.028170789644146e-06),
 'OTHER PRECIOUS METALS': np.float64(0.019632422683050963),
 'PAPER AND PAPER PRODUCTS': np.float64(0.00010382156562743289),
 'PARTS-CIVILIAN AIRCRAFT': np.float64(0.001295970780745294),
 'PASSENGER CARS, NEW AND USED': np.float64(2.0049585981010227e-07),
 'PETROLEUM PRODUCTS, OTHER': np.float64(0.009035338763529977),
 'PHARMACEUTICAL PREPARATIONS': np.float64(3.048509223724081e-06),
 'PHOTO EQUIPMENT': np.float64(9.674477202494226e-06),
 'PHOTO, SERVICE INDUSTRY MACHINERY': np.float64(7.198904382666162e-05),
 'PLASTIC MATERIALS': np.float64(0.0003758305239813885),
 'PLEASURE BOATS AND MOTORS': np.float64(2.61579233043649e-05),
 'PLYWOOD AND VENEERS': np.float64(0.010736868060074725),
 'PULP AND PAPER MACHINERY': np.float64(8.257390865163741e-06),
 'PULPWOOD AND WOODPULP': np.float64(1.9860203006505657e-07),
 'RAILWAY TRANSPORTATION EQUIPMENT': np.float64(0.0020576068708925027),
 'RECORDED MEDIA': np.float64(2.615374083710153e-05),
 'RUGS': np.float64(1.7289821394635976e-06),
 'SEMICONDUCTORS': np.float64(2.6410439125373423e-05),
 'SHINGLES, WALLBOARD': np.float64(0.00029290011460716297),
 'SPACECRAFT, EXCLUDING MILITARY': np.float64(0.12309979190806997),
 'SPECIALIZED MINING': np.float64(3.757141887963119e-06),
 'STEELMAKING MATERIALS': np.float64(0.027525531911012494),
 'STEREO EQUIPMENT, ETC': np.float64(3.790443745214624e-06),
 'STONE, SAND, CEMENT, ETC.': np.float64(2.390671486958748e-05),
 'SULFUR, NONMETALLIC MINERALS': np.float64(0.005227123623317423),
 'SYNTHETIC CLOTH': np.float64(1.8872814092862385e-05),
 'SYNTHETIC RUBBER--PRIMARY': np.float64(0.007360439408107388),
 'TEA, SPICES, ETC.': np.float64(8.818374317356885e-05),
 'TELECOMMUNICATIONS EQUIPMENT': np.float64(9.206886250740142e-05),
 'TELEVISIONS AND VIDEO EQUIPMENT': np.float64(5.309274398245526e-06),
 'TEXTILE, SEWING MACHINES': np.float64(3.972108351930497e-07),
 'TIN': np.float64(0.0008886887043580521),
 'TOBACCO, WAXES, ETC.': np.float64(0.00021849215479018258),
 'TOILETRIES AND COSMETICS': np.float64(0.00012288318941201286),
 'TOTAL IMPORTS FOR ALL END-USE CODES': np.float64(0.0014781939548199473),
 'TOYS, GAMES, AND SPORTING GOODS': np.float64(4.088623805620998e-05),
 'TRUCKS, BUSES, AND SPECIAL PURPOSE VEHICLES': np.float64(1.9925486498070348e-07),
 'U.S. GOODS RETURNED, AND REIMPORTS': np.float64(0.0002552565774911634),
 'VEGETABLES': np.float64(5.1155935583297054e-05),
 'VESSELS, EXCEPT SCRAP': np.float64(0.0),
 'WINE, BEER, AND RELATED PRODUCTS': np.float64(7.999829686781803e-06),
 'WOOD, GLASS, PLASTIC': np.float64(1.7302412869616755e-05),
 'WOOL, SILK, ETC.': np.float64(0.00018368509559432027),
 'ZINC': np.float64(0.0)}

In [47]:
sorted([(k, v) for k, v in prop_russia.items()], key=lambda x: x[1])[-10:]

[('PETROLEUM PRODUCTS, OTHER', np.float64(0.009035338763529977)),
 ('OTHER MILITARY EQUIPMENT', np.float64(0.010129866422402928)),
 ('PLYWOOD AND VENEERS', np.float64(0.010736868060074725)),
 ('NICKEL', np.float64(0.012329920398410089)),
 ('CHEMICALS-FERTILIZERS', np.float64(0.014274802365936937)),
 ('OTHER PRECIOUS METALS', np.float64(0.019632422683050963)),
 ('STEELMAKING MATERIALS', np.float64(0.027525531911012494)),
 ('NUCLEAR FUEL MATERIALS', np.float64(0.03781444973585453)),
 ('FUEL OIL', np.float64(0.06283441815179538)),
 ('SPACECRAFT, EXCLUDING MILITARY', np.float64(0.12309979190806997))]